@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#e8e9eb];
  }
}

@layer components {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
  html,
  body,
  body,
  #root,
  .app,
  .content {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #e8e9eb;
  }

  .app {
    display: flex;
    position: relative;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /*Track*/
  ::-webkit-scrollbar-track {
    background: #e0e0e0;
  }

  /*Handle*/
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /*Handle on Hover*/
  ::-webkit-scrollbar-track:hover {
    background: #555;
  }
  .card {
    width: 100%;
    min-height: 300px;
    border-radius: 12px;
    background-color: #fff;
    padding: 20px
  }
  .card-2 {
    @apply bg-white flex-auto rounded-lg h-40 flex flex-col justify-center items-center gap-2 p-4

  }
  .status {
    @apply px-2 py-1 rounded-full bg-inherit border border-gray-700 w-fit
  }
  th {
    @apply text-left
  }
  h1 {
    @apply text-5xl font-bold
  }
  h3 {
    @apply text-xl font-semibold
  }
  table {
    @apply table-auto w-full
  }
  .btn {
    @apply px-4 py-2 rounded-xl font-medium
  }
  .btn-primary {
    @apply bg-gray-800 text-white
  }
  .btn-secondary {
    @apply bg-inherit text-gray-800 border border-gray-800
  }
}
